1 ICON "../data/doom.ico"

1 VERSIONINFO
PRODUCTVERSION 2016,01,16,2,2,1
FILEVERSION 2016,01,16,2,2,1
FILETYPE 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileVersion", "2016.01.16.2.2.1"
   VALUE "FileDescription", "2016.01.16.2.2.1"
   VALUE "InternalName", "psdoom-ng"
   VALUE "CompanyName", "psdoom-ng"
   VALUE "LegalCopyright", "GNU General Public License"
   VALUE "ProductName", "psdoom-ng"
   VALUE "ProductVersion", "2016.01.16.2.2.1"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }
}

